# Node
node_modules
.pnpm-store

# Expo
.expo
dist

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment
.env
.env.local
opencode.json

# NativeWind generated
nativewind-env.d.ts

# macOS
.DS_Store
